/*
Theme Name: Lightning Child Sample
Theme URI:
Template: lightning
Description:
Author:
Tags:
Version: 0.6.1
*/

/***************************
ここから独自カスタマイズ
***************************/
/***************************
共通スタイル
***************************/
/* 角丸変数 */
:root {
    --corner-radius: .5rem;
}
/* 色変数 */
:root {
    --color-red: #b8513d;
    --color-brown: #5D3C38;
    --color-yellow: #EAD24A;
    --color-paleyellow: #FCEAAD;
}
/* 背景色を透明にする */
.background-transparent {
    background-color: rgba(255,255,255,0) !important;
}
/* 背景色変更 */
.background-paleyellow {
    background-color: var(--color-paleyellow);
}
/* 全体の背景画像設定 */
body {
    background-image: url(./img/background-top.jpg);
    background-repeat: no-repeat;
}
/* 文字色変更 */
.font-red {
    color: var(--color-red);
}
.font-yellow {
    color: var(--color-yellow);
}
.font-brown {
    color: var(--color-brown);
}
/* テキストドロップシャドウ変更 */
.shadow-yellow {
    text-shadow: 2px 2px 3px var(--color-paleyellow);
}
/* フォントスタイル */
.font-kaisei {
    font-family: "Kaisei Opti", serif;
    font-weight: 700;
    font-style: normal;
}
.font-round-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-round-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-round-extrabold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.font-size-16 {
    font-size: 16px;
}
/* 画像を角丸に変更 */
.corner-round {
    border-radius: var(--corner-radius);
    img {
        border-radius: var(--corner-radius);
    }
}
/* 枠線設定 */
.border-brown-6 {
    border: 6px solid var(--color-brown);
}
/* ボタン枠線設定 */
.btn-border-brown {
    a {
         border: 4px solid var(--color-brown);
    }
}
/* 詳細情報スタイル設定 */
@media screen and (max-width: 782px) {
    .infodetail-row {
        gap: 5px;
    }
}
/* 幅設定 */
.width-all {
    width: 100%;
}
/* タイトルスタイル設定 */
.title-large {
    margin-bottom: 5px;
}
.column-title {
    padding: .6em 0 .5em;
}
/***************************
個別スタイル
***************************/
/*********** トップページ ***********/
.home > .site-body {
    padding-top: 0;
}
/* ヒーローイメージ */
.catchphrase-fontstyle {
    font-family: "Kaisei Opti", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
@media screen and (max-width: 990px) {
    .catchphrase-fontstyle {
        font-size: 24px;
    }
}
@media screen and (max-width: 990px) {
    .mainvisual-deco {
        width: 120px;
        height: auto;
    }
}
/* コンセプト */
.top-conceptimg {
    height: 45vw;
}
/* 事業概要 */
.top-service-frame {
    padding: 20px;
}
/*********** ひげぞ～おいもとコーヒーファクトリー ***********/
.cafe-map {
    width: 100%;
    height: 400px;
}
/*********** フッター ***********/
.footer-map {
    width: 100%;
    height: 300px;
}
/*********** ジャンプボタン ***********/
#page_top {
    background-color: var(--color-brown);
}